<%= form_for(@game_configuration) do |f| %>
  <% if @game_configuration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game_configuration.errors.count, "error") %> prohibited this game_configuration from being saved:</h2>

      <ul>
      <% @game_configuration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :game_id %><br>
    <%= f.number_field :game_id %>
  </div>
  <div class="field">
    <%= f.label :match_id %><br>
    <%= f.number_field :match_id %>
  </div>
  <div class="field">
    <%= f.label :author_id %><br>
    <%= f.number_field :author_id %>
  </div>
  <div class="field">
    <%= f.label :metadata %><br>
    <%= f.text_field :metadata %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
