<h1>Listing players</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Nickname</th>
      <th>Email</th>
      <th>Password</th>
      <th>Location</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Avatar url</th>
      <th>Facebook uid</th>
      <th>Facebook token</th>
      <th>Short bio</th>
      <th>Gender</th>
      <th>Birthday</th>
      <th>Skype name</th>
      <th>Twitter token</th>
      <th>Twitter token secret</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.first_name %></td>
        <td><%= player.last_name %></td>
        <td><%= player.nickname %></td>
        <td><%= player.email %></td>
        <td><%= player.password %></td>
        <td><%= player.location_id %></td>
        <td><%= player.latitude %></td>
        <td><%= player.longitude %></td>
        <td><%= player.avatar_url %></td>
        <td><%= player.facebook_uid %></td>
        <td><%= player.facebook_token %></td>
        <td><%= player.short_bio %></td>
        <td><%= player.gender %></td>
        <td><%= player.birthday %></td>
        <td><%= player.skype_name %></td>
        <td><%= player.twitter_token %></td>
        <td><%= player.twitter_token_secret %></td>
        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>
