<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :game_id %><br>
    <%= f.number_field :game_id %>
  </div>
  <div class="field">
    <%= f.label :game_config_id %><br>
    <%= f.number_field :game_config_id %>
  </div>
  <div class="field">
    <%= f.label :date_started %><br>
    <%= f.datetime_select :date_started %>
  </div>
  <div class="field">
    <%= f.label :date_finished %><br>
    <%= f.datetime_select :date_finished %>
  </div>
  <div class="field">
    <%= f.label :status_id %><br>
    <%= f.number_field :status_id %>
  </div>
  <div class="field">
    <%= f.label :running_time %><br>
    <%= f.time_select :running_time %>
  </div>
  <div class="field">
    <%= f.label :turn_count %><br>
    <%= f.number_field :turn_count %>
  </div>
  <div class="field">
    <%= f.label :location_id %><br>
    <%= f.number_field :location_id %>
  </div>
  <div class="field">
    <%= f.label :zone_id %><br>
    <%= f.number_field :zone_id %>
  </div>
  <div class="field">
    <%= f.label :final_player_id %><br>
    <%= f.number_field :final_player_id %>
  </div>
  <div class="field">
    <%= f.label :group_id_list %><br>
    <%= f.text_field :group_id_list %>
  </div>
  <div class="field">
    <%= f.label :player_id_list %><br>
    <%= f.text_field :player_id_list %>
  </div>
  <div class="field">
    <%= f.label :score_list %><br>
    <%= f.text_field :score_list %>
  </div>
  <div class="field">
    <%= f.label :group_scope_list %><br>
    <%= f.text_field :group_scope_list %>
  </div>
  <div class="field">
    <%= f.label :is_valid %><br>
    <%= f.check_box :is_valid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
