<h1>Listing matches</h1>

<table>
  <thead>
    <tr>
      <th>Game</th>
      <th>Game config</th>
      <th>Date started</th>
      <th>Date finished</th>
      <th>Status</th>
      <th>Running time</th>
      <th>Turn count</th>
      <th>Location</th>
      <th>Zone</th>
      <th>Final player</th>
      <th>Group id list</th>
      <th>Player id list</th>
      <th>Score list</th>
      <th>Group scope list</th>
      <th>Is valid</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.game_id %></td>
        <td><%= match.game_config_id %></td>
        <td><%= match.date_started %></td>
        <td><%= match.date_finished %></td>
        <td><%= match.status_id %></td>
        <td><%= match.running_time %></td>
        <td><%= match.turn_count %></td>
        <td><%= match.location_id %></td>
        <td><%= match.zone_id %></td>
        <td><%= match.final_player_id %></td>
        <td><%= match.group_id_list %></td>
        <td><%= match.player_id_list %></td>
        <td><%= match.score_list %></td>
        <td><%= match.group_scope_list %></td>
        <td><%= match.is_valid %></td>
        <td><%= link_to 'Show', match %></td>
        <td><%= link_to 'Edit', edit_match_path(match) %></td>
        <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Match', new_match_path %>
