<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @location.nickname %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>

<p>
  <strong>Radius:</strong>
  <%= @location.radius %>
</p>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @location.parent_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @location.type_id %>
</p>

<p>
  <strong>Kml url:</strong>
  <%= @location.kml_url %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
